body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(7825852.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    color: black;
    text-align: center;
    background: rgba(64, 189, 189, 0.582);
    z-index: 1;
    height: 45%;
    width: 80%;
    max-width: 800px;
    max-height: 350px;
    margin: 0 auto;
    overflow: hidden;
    backdrop-filter: blur(8px);
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Ajustei para flex-end */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    outline: none;
}

nav li a {
    margin: 0 10px;
    text-decoration: none;
    transition: color 1s;
    color: black;
    outline: none;
}

a:hover {
    color: rgb(150, 52, 243);
}

.Min-bloco {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#botão {
    position: relative;
    top: 60%;
    right: -45%;
    padding: 20px;
    font-size: 15px;
    border: solid 1px rgba(64, 189, 189, 0.582);
    border-radius: 8px;
    background: rgba(64, 189, 189, 0.582);
    backdrop-filter: blur(8px);
    transform: color 2s;
    transition: 1s;
    outline: none;
}

#botão:hover {
    color: rgb(163, 120, 0);
    background: rgba(201, 126, 65, 0.582);
}

/* Estilos adicionados para tornar o conteúdo mais responsivo */
@media screen and (max-width: 500px), (max-width: 700px)  {
    .content {
        width: 90%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        outline: none;
    }

    nav li {
        margin: 10px 0;
    }

    #botão {
        position: relative;
        top: 60%;
        right: -33%;
        padding: 26px;
        font-size: 20px;
        outline: none;
    }
}
